<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" charset="utf-8"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/toastify.css">
        <script src="../js/toastify.js"></script>
        <script src="../js/javascript.js" charset="utf-8"></script>
        <style> body { padding-top: 70px; /* Assuming your navbar height is 70px */ } </style>
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top bg-light">
        <div class="container">
            <!-- Navbar Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TODO Web Application</a>
            </div>
            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if (typeof role !== 'undefined' && role === 'admin') { %>
                        <li><a href="/admin">Admin</a></li>
                    <% } %>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <!-- Add more navbar items if needed -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <form id="add_todo_form" action="/add_todo" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="text" id="add_todo_input" name="add_todo_input" placeholder="ADD TODO">
            <button id="add_todo_button" type="submit" class="btn btn-primary">Add Todo</button> <!-- Add a button to submit the form -->
        </form>

        <div style="overflow-x:auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">TODO</th>
                    </tr>
                </thead>
                <tbody id="todo_table">
                </tbody>
            </table>
        </div>
    </div>
    
    <form id="complete_todo_form" action="/complete_todo/" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
</html>


